<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            width: 100%;
            background-color: black;
            color:white;
            transition: ease-in-out;
        }
        input:hover{
            background-color: darkgray;
        }
        h1,h2 {
            text-align: center;
            color:white;
            background:black;
            border-radius: 10px;
        }
        h3{
            background:black;
            border-radius: 10px;

        }
        img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            margin-left:10%
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10px;
            transition: .5s ease-in-out;
            align-items: center;
            color:white;
            text-align: center;
            font-size: 15x;
            font-family: sans-serif;
        }
        .edit{
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            transition: .5 ease-in-out;
        }
        .edit:hover {
            text-decoration: bold;
            color:red
        }
        h3{
            margin-left: 10%;
        }
        .delete {
            margin-left: 10%;
        }
        body{
            background: url("https://www.pixel4k.com/wp-content/uploads/2018/11/warhammer-40000_1541294937.jpg");
            background-size: cover;
        }
        .new {
            text-align: center;
            color: Yellow;
            transition: ease-in-out;
            text-decoration: none;
            font-size: 20px;
        }
        .new:hover {
            text-decoration: underline;
        }
        .curious {
            text-align: center;
            font-size: 20px;
            background: black;
            margin-left: 30%;
            margin-right: 30%;
            color:white;
            border-radius: 10px;
        }
        p{
            text-align: center;
            font-size: medium;
            background: black;
            margin-left: 30%;
            margin-right: 30%;
            color:white;
            border-radius: 10px;
        }
        </style>
</head>

<body>
    <h1> Warhammer 40k Unit Creator</h1><br>
    <p class="curious">Curious About the Setting? Click <a href="https://www.youtube.com/watch?v=B9V0bOB8sXQ">here</a> to watch the 9th edition Cinematic!</p><br>
    <h2>Your Unit Selection</h2>
    <p>Click on a Unit Card to See details</p>
    <a class="new" href="/unit/new">Make a New Entry</a>
    <div class="container">
        <% unit.forEach((units)=> { %>
        <article>
            <h3>
                <%=units.name%>
            </h3>
            <div class="gallary">
                <a href="/unit/<%=units._id%>"><img src=<%=units.unitImage%> /></a><br>
            <form action="/unit/<%=units._id %>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="DELETE" />
            </form>
        </article>
        <% }) %>
    </div>
</body>

</html>