<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Unit</title>
        <style>
            h1 {
                text-align: center;
                color: white;
                background-color: black;
                height: 50px;
            }
            legend {
                text-align: center;
                font-size: 30px;

            }
            img {
                max-width: 100%;
                height: 100%;
            }
            input[type=text]{
                border: none;
                border-bottom: 2px solid black;
                width: 100%;
            }
            .unit {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end:2;
            }     
            .top{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end:2; 
            }  
            .weapon {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end:3;
            }
            .bottom{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end:3;
            }
            .input {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end:4;
                width: 100%;
                height: 150px;
                border:0;
                color:white;
                background:darkgray;
                transition: .5s ease-in;
                border-radius: 10px;
                font-size: 40px;
            }
            .input:hover {
                background-color:black;
            }
            .container{
                display: grid;
            }
            
        </style>
	</head>
<body>
    <h1>New Unit</h1>
    <div class="container">
            
        
        <img class="top"src="https://th.bing.com/th/id/R.e34dbcbc7fedafec9d384aef305db1d7?rik=ZYJiAgNtEqHCuw&riu=http%3a%2f%2fvignette2.wikia.nocookie.net%2fwarhammer40k%2fimages%2f0%2f03%2fRetribution-wallpaper-05.jpg%2frevision%2flatest%3fcb%3d20141201095026&ehk=09uZXDUKE2Up%2bya3RICyUwV9FI2HKtBUjABVJkxoJo8%3d&risl=&pid=ImgRaw&r=0">
        <fieldset class="unit">
            <legend>Unit</legend>
		<form action="/unit" method="POST">
			<label>Unit Name</label>
            <input class="w3-input" type="text" name="name" /><br />

            Movement: <input type="text" name="movement" /><br />
            WS: <input list="ws" type="text" name="weaponSkill" /><br />
                    <datalist id="ws">
                        <option value="2+">
                        <option value="3+">
                        <option value="4+">
                        <option value="5+">
                        <option value="6+">
                    </datalist>
            BS: <input list="bs"type="text" name="ballisticSkill" /><br />
                    <datalist id="bs">
                        <option value="2+">
                        <option value="3+">
                        <option value="4+">
                        <option value="5+">
                        <option value="6+">
                    </datalist>
            S: <input list="s" type="text" name="strength" /><br />
                    <datalist id="s">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                        <option value="6">
                        <option value="7">
                        <option value="8">
                        <option value="9">
                        <option value="10">
                    </datalist>
            T: <input list="t" type="text" name="toughness" /><br />
                    <datalist id="t">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                        <option value="6">
                        <option value="7">
                        <option value="8">
                        <option value="9">
                        <option value="10">
                    </datalist>
            W: <input list="w"type="text" name="wounds" /><br />
                    <datalist id="W">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                        <option value="6">
                        <option value="7">
                        <option value="8">
                        <option value="9">
                        <option value="10">
                        <option value="11">
                        <option value="12">
                        <option value="13">
                        <option value="14">
                        <option value="15">
                        <option value="16">
                        <option value="17">
                        <option value="18">
                        <option value="19">
                        <option value="20">
                        <option value="21">
                        <option value="22">
                        <option value="23">
                        <option value="24">
                        <option value="25">
                        <option value="26">
                        <option value="27">
                        <option value="28">
                        <option value="29">
                        <option value="30">
                        <option value="31">
                        <option value="32">
                        <option value="33">
                        <option value="34">
                        <option value="35">
                        <option value="36">
                    </datalist>
            A: <input list="a" type="text" name="attack" /><br />
                    <datalist id="a">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                        <option value="6">
                        <option value="7">
                        <option value="8">
                        <option value="9">
                        <option value="10">
                    </datalist>
            L: <input list="l"type="text" name="leadership" /><br />
                    <datalist id="l">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                        <option value="6">
                        <option value="7">
                        <option value="8">
                        <option value="9">
                        <option value="10">
                    </datalist>
            Save: <input list="save" type="text" name="saveCharacteristic" /><br />
                    <datalist id="save">
                        <option value="2+">
                        <option value="3+">
                        <option value="4+">
                        <option value="5+">
                        <option value="6+">
                        <option value="7+">
                    </datalist>
            Unit Abilities: <input type="text" name="abilities" /><br />
            Unit Image(URL link): <input type="text" name="unitImage"/><br>
                </fieldset>
                <fieldset class="weapon">
                    <legend>Weapon</legend>
            Weapon name: <input type="text" name="weaponName" /><br />
            Range: <input type="text" name="range" /><br />
            Type (Melee,pistol,assault,heavy,or rapid fire): <input type="text" name="type" /><br />
            S: <input list="weaponS" type="text" name="weaponStrength" /><br />
                    <datalist id="weaponS">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                        <option value="6">
                        <option value="7">
                        <option value="8">
                        <option value="9">
                        <option value="10">
                    </datalist>
            AP: <input list="ap"type="text" name="ap" /><br />
                    <datalist id="ap">                      
                        <option value="0">
                        <option value="-1">
                        <option value="-2">
                        <option value="-3">
                        <option value="-4">
                        <option value="-5">
                    </datalist>
            D: <input type="text" name="damage" /><br />
            Weapon Abilities: <input type="text" name="weaponAbilites" /><br />
            Weapon Image(URL link): <input type="text" name="weaponImage"/><br>
			
            </fieldset>
            <input class="input" type="submit" name="" value="Submit Your New Unit" />
		</form>
        <img class="bottom" src="https://th.bing.com/th/id/R.0107cf903c4c07f8e447e0c1a939582c?rik=fq3r29zVehwEMg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f2%2f3%2fc%2f153674.jpg&ehk=%2fA4ML5o9ZBHpTEyj1%2bqObNdJD7Tppa2WdK4Q7LuCeq8%3d&risl=&pid=ImgRaw&r=0">
    </div>
</body>
</html>
