<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book List</title>
	</head>
	<body>
		<h1>Unit Entry</h1>
        <fieldset>
		<form action="/unit" method="POST">
			Unit name: <input type="text" name="name" /><br />
            Movement: <input type="text" name="movement" /><br />
            WS: <input type="text" name="weaponSkill" /><br />
            BS: <input type="text" name="ballisticSkill" /><br />
            S: <input type="text" name="strength" /><br />
            T: <input type="text" name="toughness" /><br />
            W: <input type="text" name="wounds" /><br />
            A: <input type="text" name="attack" /><br />
            L: <input type="text" name="leadership" /><br />
            Save: <input type="text" name="saveCharacteristic" /><br />
            Unit Abilities: <input type="text" name="abilites" /><br />
            Unit Image(URL link): <input type="text" name="unitImage"/><br>
            Weapon name: <input type="text" name="weaponName" /><br />
            Range: <input type="text" name="range" /><br />
            Type: <input type="text" name="type" /><br />
            S: <input type="text" name="weaponStrength" /><br />
            AP: <input type="text" name="ap" /><br />
            D: <input type="text" name="damage" /><br />
            Weapon Abilities: <input type="text" name="weaponAbilities" /><br />
            Weapon Image(URL link): <input type="text" name="weaponImage"/><br>
			<input type="submit" name="" value="submit Entry" />
            </fieldset>
		</form>
	</body>
	</body>
</html>
